In [1]:
import pandas as pd
import numpy as np
from statsmodels.stats.proportion import proportion_confint

# DM

## Importing

In [ ]:
dm_df = pd.read_pickle('./dm_drug_class_numbers_encr.pkl')
dm_df

## Building dm drug-class Table

In [3]:
dm_classes = ['A10A', 'A10BA', 'A10BB', 'A10BD', 'A10BF', 'A10BG', 'A10BJ', 'A10BX']

In [4]:
dm_table = pd.DataFrame(columns=sorted(dm_df['cat'].unique()))

In [5]:
dm_table.loc['total'] = dm_df.groupby('cat')[dm_classes].sum().T.sum()

In [6]:
dm_table

               0          1          2          3          4
total  1416989.0  2133477.0  2447351.0  2534071.0  3037953.0

In [7]:
dm_table = pd.concat(
    [dm_table, dm_df.groupby('cat')[dm_classes].sum().T]
)

In [8]:
dm_concat_dict = dict()

In [9]:
dm_concat_dict['numbers'] = dm_table

In [10]:
dm_concat_dict['proportions'] = dm_table.loc[dm_classes] / dm_table.loc['total']

In [11]:
pd.concat(dm_concat_dict, axis=1)

         numbers                                             proportions  \
               0          1          2          3          4           0
total  1416989.0  2133477.0  2447351.0  2534071.0  3037953.0         NaN
A10A    349511.0   495833.0   566391.0   599865.0   786545.0    0.246658
A10BA   604704.0   932477.0  1074961.0  1110256.0  1292404.0    0.426753
A10BB   317368.0   491835.0   560281.0   573678.0   683884.0    0.223974
A10BD     5710.0     6287.0     6615.0     7613.0     9739.0    0.004030
A10BF    46835.0    72187.0    87860.0    90785.0   103534.0    0.033052
A10BG    63329.0    91966.0   103041.0   104656.0   111929.0    0.044693
A10BJ       34.0       55.0       67.0       58.0      106.0    0.000024
A10BX    29498.0    42837.0    48135.0    47160.0    49812.0    0.020817


              1         2         3         4
total       NaN       NaN       NaN       NaN
A10A   0.232406  0.231430  0.236720  0.258906
A10BA  0.437069  0.439235  0.438131  0.425419
A10BB  0.230532  0.228934  0.226386  0.225113
A10BD  0.002947  0.002703  0.003004  0.003206
A10BF  0.033835  0.035900  0.035826  0.034080
A10BG  0.043106  0.042103  0.041300  0.036844
A10BJ  0.000026  0.000027  0.000023  0.000035
A10BX  0.020078  0.019668  0.018610  0.016397

In [12]:
dm_concat_dict['ci_low'], dm_concat_dict['ci_up'] = proportion_confint(
    dm_table.loc[dm_classes],
    dm_table.loc['total']
)

In [13]:
pd.concat(dm_concat_dict, axis=1)

         numbers                                             proportions  \
               0          1          2          3          4           0
total  1416989.0  2133477.0  2447351.0  2534071.0  3037953.0         NaN
A10A    349511.0   495833.0   566391.0   599865.0   786545.0    0.246658
A10BA   604704.0   932477.0  1074961.0  1110256.0  1292404.0    0.426753
A10BB   317368.0   491835.0   560281.0   573678.0   683884.0    0.223974
A10BD     5710.0     6287.0     6615.0     7613.0     9739.0    0.004030
A10BF    46835.0    72187.0    87860.0    90785.0   103534.0    0.033052
A10BG    63329.0    91966.0   103041.0   104656.0   111929.0    0.044693
A10BJ       34.0       55.0       67.0       58.0      106.0    0.000024
A10BX    29498.0    42837.0    48135.0    47160.0    49812.0    0.020817

                                                 ci_low                      \
              1         2         3         4         0         1         2
total       NaN       NaN       NaN       NaN       NaN       NaN       NaN
A10A   0.232406  0.231430  0.236720  0.258906  0.245948  0.231839  0.230902
A10BA  0.437069  0.439235  0.438131  0.425419  0.425938  0.436404  0.438613
A10BB  0.230532  0.228934  0.226386  0.225113  0.223287  0.229967  0.228407
A10BD  0.002947  0.002703  0.003004  0.003206  0.003925  0.002874  0.002638
A10BF  0.033835  0.035900  0.035826  0.034080  0.032758  0.033593  0.035667
A10BG  0.043106  0.042103  0.041300  0.036844  0.044352  0.042834  0.041851
A10BJ  0.000026  0.000027  0.000023  0.000035  0.000016  0.000019  0.000021
A10BX  0.020078  0.019668  0.018610  0.016397  0.020582  0.019890  0.019494

                              ci_up
              3         4         0         1         2         3         4
total       NaN       NaN       NaN       NaN       NaN       NaN       NaN
A10A   0.236197  0.258414  0.247367  0.232973  0.231959  0.237243  0.259399
A10BA  0.437520  0.424863  0.427567  0.437735  0.439856  0.438742  0.425975
A10BB  0.225871  0.224644  0.224660  0.231097  0.229460  0.226901  0.225583
A10BD  0.002937  0.003142  0.004134  0.003020  0.002768  0.003072  0.003269
A10BF  0.035597  0.033876  0.033347  0.034078  0.036133  0.036055  0.034284
A10BG  0.041055  0.036632  0.045033  0.043379  0.042355  0.041545  0.037055
A10BJ  0.000017  0.000028  0.000032  0.000033  0.000034  0.000029  0.000042
A10BX  0.018444  0.016254  0.021052  0.020267  0.019842  0.018777  0.016539

## Saving dm_drug_class_table

In [14]:
# Saving dm_drug_class_table
# pd.concat(dm_concat_dict, axis=1).to_excel('./results/dm_drug_class_table.xlsx')

# AB

## Importing

In [ ]:
ab_df = pd.read_pickle('./ab_drug_class_numbers_encr.pkl')
ab_df.drop(ab_df.loc[ab_df['cat'] == 0].index, axis=0, inplace=True)
ab_df

## Building ab drug-class Table

In [16]:
ab_classes = ['J01A', 'J01B', 'J01C', 'J01D', 'J01E', 'J01F', 'J01G', 'J01M', 'J01X']

In [17]:
ab_table = pd.DataFrame(columns=sorted(ab_df['cat'].unique()))

In [18]:
ab_table.loc['total_service'] = ab_df.groupby('cat')[ab_classes].sum().T.sum()

In [19]:
ab_table.loc['total_person'] = ab_df['cat'].value_counts()

In [20]:
ab_table

                      1          2          3          4
total_service  564776.0  1236809.0  2070703.0  5204806.0
total_person   359121.0   358920.0   332538.0   341918.0

In [21]:
ab_table = pd.concat(
        [ab_table, ab_df.groupby('cat')[ab_classes].sum().T]
)

In [22]:
ab_concat_dict = dict()

In [23]:
ab_concat_dict['numbers'] = ab_table

In [24]:
ab_concat_dict['number/total_service'] = ab_table.loc[ab_classes] / ab_table.loc['total_service']

In [25]:
ab_concat_dict['s_ci_low'], ab_concat_dict['s_ci_up'] = proportion_confint(
    ab_table.loc[ab_classes],
    ab_table.loc['total_service']
)
# Changing column names
ab_concat_dict['s_ci_low'].columns = ab_table.columns
ab_concat_dict['s_ci_up'].columns = ab_table.columns

In [26]:
ab_concat_dict['number/person'] = (
    ab_table.loc[ab_classes] / ab_table.loc['total_person']
)

In [27]:
ab_concat_dict['p_ci_low'], ab_concat_dict['p_ci_up'] = proportion_confint(
    ab_table.loc[ab_classes],
    ab_table.loc['total_person']
)
# Changing column names
ab_concat_dict['p_ci_low'].columns = ab_table.columns
ab_concat_dict['p_ci_up'].columns = ab_table.columns

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/statsmodels/stats/proportion.py:195: RuntimeWarning: invalid value encountered in sqrt
  std_ = np.sqrt(q_ * (1 - q_) / nobs_a)

In [28]:
pd.concat(ab_concat_dict,  axis=1)

                numbers                                  number/total_service  \
                      1          2          3          4                    1
total_service  564776.0  1236809.0  2070703.0  5204806.0                  NaN
total_person   359121.0   358920.0   332538.0   341918.0                  NaN
J01A             8485.0    27340.0    54007.0   127612.0             0.015024
J01B               36.0       50.0       64.0      127.0             0.000064
J01C           205342.0   446094.0   732530.0  1831530.0             0.363581
J01D           152764.0   349116.0   591492.0  1578858.0             0.270486
J01E             8387.0    16032.0    26692.0    76115.0             0.014850
J01F            97438.0   212065.0   357315.0   852577.0             0.172525
J01G             9894.0    21669.0    37198.0   107827.0             0.017518
J01M            80330.0   158911.0   259850.0   593983.0             0.142233
J01X             2100.0     5532.0    11555.0    36177.0             0.003718

                                             s_ci_low            ...  \
                      2         3         4         1         2  ...
total_service       NaN       NaN       NaN       NaN       NaN  ...
total_person        NaN       NaN       NaN       NaN       NaN  ...
J01A           0.022105  0.026081  0.024518  0.014706  0.021846  ...
J01B           0.000040  0.000031  0.000024  0.000043  0.000029  ...
J01C           0.360681  0.353759  0.351892  0.362327  0.359835  ...
J01D           0.282272  0.285648  0.303346  0.269327  0.281478  ...
J01E           0.012962  0.012890  0.014624  0.014535  0.012763  ...
J01F           0.171461  0.172557  0.163806  0.171540  0.170797  ...
J01G           0.017520  0.017964  0.020717  0.017176  0.017289  ...
J01M           0.128485  0.125489  0.114122  0.141322  0.127895  ...
J01X           0.004473  0.005580  0.006951  0.003560  0.004355  ...

              number/person            p_ci_low                                \
                          3         4         1         2         3         4
total_service           NaN       NaN       NaN       NaN       NaN       NaN
total_person            NaN       NaN       NaN       NaN       NaN       NaN
J01A               0.162409  0.373224  0.023130  0.075305  0.161155  0.371603
J01B               0.000192  0.000371  0.000068  0.000101  0.000145  0.000307
J01C               2.202846  5.356635  0.570172       NaN       NaN       NaN
J01D               1.778720  4.617651  0.423766  0.972151       NaN       NaN
J01E               0.080268  0.222612  0.022860  0.043992  0.079344  0.221217
J01F               1.074509  2.493513  0.269869  0.589233       NaN       NaN
J01G               0.111861  0.315359  0.027015  0.059594  0.110790  0.313802
J01M               0.781414  1.737209  0.222322  0.441123  0.780010       NaN
J01X               0.034748  0.105806  0.005598  0.015010  0.034125  0.104775

                p_ci_up
                      1         2         3         4
total_service       NaN       NaN       NaN       NaN
total_person        NaN       NaN       NaN       NaN
J01A           0.024124  0.077041  0.163662  0.374845
J01B           0.000133  0.000178  0.000240  0.000436
J01C           0.573409       NaN       NaN       NaN
J01D           0.427000  0.973218       NaN       NaN
J01E           0.023848  0.045343  0.081191  0.224006
J01F           0.272778  0.592451       NaN       NaN
J01G           0.028086  0.061152  0.112932  0.316917
J01M           0.225048  0.444373  0.782819       NaN
J01X           0.006097  0.015816  0.035370  0.106837

[11 rows x 28 columns]

In [29]:
pd.concat(ab_concat_dict, axis=1)

                numbers                                  number/total_service  \
                      1          2          3          4                    1
total_service  564776.0  1236809.0  2070703.0  5204806.0                  NaN
total_person   359121.0   358920.0   332538.0   341918.0                  NaN
J01A             8485.0    27340.0    54007.0   127612.0             0.015024
J01B               36.0       50.0       64.0      127.0             0.000064
J01C           205342.0   446094.0   732530.0  1831530.0             0.363581
J01D           152764.0   349116.0   591492.0  1578858.0             0.270486
J01E             8387.0    16032.0    26692.0    76115.0             0.014850
J01F            97438.0   212065.0   357315.0   852577.0             0.172525
J01G             9894.0    21669.0    37198.0   107827.0             0.017518
J01M            80330.0   158911.0   259850.0   593983.0             0.142233
J01X             2100.0     5532.0    11555.0    36177.0             0.003718

                                             s_ci_low            ...  \
                      2         3         4         1         2  ...
total_service       NaN       NaN       NaN       NaN       NaN  ...
total_person        NaN       NaN       NaN       NaN       NaN  ...
J01A           0.022105  0.026081  0.024518  0.014706  0.021846  ...
J01B           0.000040  0.000031  0.000024  0.000043  0.000029  ...
J01C           0.360681  0.353759  0.351892  0.362327  0.359835  ...
J01D           0.282272  0.285648  0.303346  0.269327  0.281478  ...
J01E           0.012962  0.012890  0.014624  0.014535  0.012763  ...
J01F           0.171461  0.172557  0.163806  0.171540  0.170797  ...
J01G           0.017520  0.017964  0.020717  0.017176  0.017289  ...
J01M           0.128485  0.125489  0.114122  0.141322  0.127895  ...
J01X           0.004473  0.005580  0.006951  0.003560  0.004355  ...

              number/person            p_ci_low                                \
                          3         4         1         2         3         4
total_service           NaN       NaN       NaN       NaN       NaN       NaN
total_person            NaN       NaN       NaN       NaN       NaN       NaN
J01A               0.162409  0.373224  0.023130  0.075305  0.161155  0.371603
J01B               0.000192  0.000371  0.000068  0.000101  0.000145  0.000307
J01C               2.202846  5.356635  0.570172       NaN       NaN       NaN
J01D               1.778720  4.617651  0.423766  0.972151       NaN       NaN
J01E               0.080268  0.222612  0.022860  0.043992  0.079344  0.221217
J01F               1.074509  2.493513  0.269869  0.589233       NaN       NaN
J01G               0.111861  0.315359  0.027015  0.059594  0.110790  0.313802
J01M               0.781414  1.737209  0.222322  0.441123  0.780010       NaN
J01X               0.034748  0.105806  0.005598  0.015010  0.034125  0.104775

                p_ci_up
                      1         2         3         4
total_service       NaN       NaN       NaN       NaN
total_person        NaN       NaN       NaN       NaN
J01A           0.024124  0.077041  0.163662  0.374845
J01B           0.000133  0.000178  0.000240  0.000436
J01C           0.573409       NaN       NaN       NaN
J01D           0.427000  0.973218       NaN       NaN
J01E           0.023848  0.045343  0.081191  0.224006
J01F           0.272778  0.592451       NaN       NaN
J01G           0.028086  0.061152  0.112932  0.316917
J01M           0.225048  0.444373  0.782819       NaN
J01X           0.006097  0.015816  0.035370  0.106837

[11 rows x 28 columns]

In [30]:
temp = pd.DataFrame(columns=sorted(ab_df['cat'].unique()))
for cat in sorted(ab_df['cat'].unique()):
    temp_cat = ab_df.loc[ab_df['cat'] == cat]
    temp[cat] = temp_cat[ab_classes].isna().sum() / temp_cat.shape[0]

In [31]:
ab_concat_dict['ever_proportion'] = temp

In [32]:
pd.concat(ab_concat_dict, axis=1)

                numbers                                  number/total_service  \
                      1          2          3          4                    1
total_service  564776.0  1236809.0  2070703.0  5204806.0                  NaN
total_person   359121.0   358920.0   332538.0   341918.0                  NaN
J01A             8485.0    27340.0    54007.0   127612.0             0.015024
J01B               36.0       50.0       64.0      127.0             0.000064
J01C           205342.0   446094.0   732530.0  1831530.0             0.363581
J01D           152764.0   349116.0   591492.0  1578858.0             0.270486
J01E             8387.0    16032.0    26692.0    76115.0             0.014850
J01F            97438.0   212065.0   357315.0   852577.0             0.172525
J01G             9894.0    21669.0    37198.0   107827.0             0.017518
J01M            80330.0   158911.0   259850.0   593983.0             0.142233
J01X             2100.0     5532.0    11555.0    36177.0             0.003718

                                             s_ci_low            ...  \
                      2         3         4         1         2  ...
total_service       NaN       NaN       NaN       NaN       NaN  ...
total_person        NaN       NaN       NaN       NaN       NaN  ...
J01A           0.022105  0.026081  0.024518  0.014706  0.021846  ...
J01B           0.000040  0.000031  0.000024  0.000043  0.000029  ...
J01C           0.360681  0.353759  0.351892  0.362327  0.359835  ...
J01D           0.282272  0.285648  0.303346  0.269327  0.281478  ...
J01E           0.012962  0.012890  0.014624  0.014535  0.012763  ...
J01F           0.171461  0.172557  0.163806  0.171540  0.170797  ...
J01G           0.017520  0.017964  0.020717  0.017176  0.017289  ...
J01M           0.128485  0.125489  0.114122  0.141322  0.127895  ...
J01X           0.004473  0.005580  0.006951  0.003560  0.004355  ...

               p_ci_low             p_ci_up                                \
                      3         4         1         2         3         4
total_service       NaN       NaN       NaN       NaN       NaN       NaN
total_person        NaN       NaN       NaN       NaN       NaN       NaN
J01A           0.161155  0.371603  0.024124  0.077041  0.163662  0.374845
J01B           0.000145  0.000307  0.000133  0.000178  0.000240  0.000436
J01C                NaN       NaN  0.573409       NaN       NaN       NaN
J01D                NaN       NaN  0.427000  0.973218       NaN       NaN
J01E           0.079344  0.221217  0.023848  0.045343  0.081191  0.224006
J01F                NaN       NaN  0.272778  0.592451       NaN       NaN
J01G           0.110790  0.313802  0.028086  0.061152  0.112932  0.316917
J01M           0.780010       NaN  0.225048  0.444373  0.782819       NaN
J01X           0.034125  0.104775  0.006097  0.015816  0.035370  0.106837

              ever_proportion
                            1         2         3         4
total_service             NaN       NaN       NaN       NaN
total_person              NaN       NaN       NaN       NaN
J01A                 0.978077  0.930416  0.866319  0.759589
J01B                 0.999900  0.999863  0.999811  0.999658
J01C                 0.576561  0.357035  0.211822  0.088627
J01D                 0.628941  0.366686  0.186337  0.056502
J01E                 0.977818  0.959328  0.930904  0.851783
J01F                 0.753732  0.560975  0.381141  0.192590
J01G                 0.974287  0.945718  0.905791  0.793854
J01M                 0.793468  0.658225  0.511557  0.322984
J01X                 0.994684  0.986161  0.969922  0.929428

[11 rows x 32 columns]

## Saving ab_drug_class_table

In [33]:
# Saving ab_drug_class_table
# pd.concat(ab_concat_dict, axis=1).to_csv('./results/ab_drug_class_table_02.csv')

# Dominant Drug

## Importing

In [ ]:
dominant_df = pd.read_pickle('./results/dominants_0.8.pkl')
# By checking the results, we found out we don't need to consider one-time use
# of insulin.
dominant_df = dominant_df[0.8].to_frame('drug')
dominant_df

In [ ]:
np.ones(dominant_df['drug'].nunique()) * dominant_df['drug'].shape[0]

## Building Dominant Table

In [36]:
def my_proportion_confint(df, col):
    low, up = proportion_confint(
        df['drug'].value_counts(),
        df.shape[0]
    )
    return low, up

In [37]:
dominant_df['cat'] = dm_df['cat']

In [38]:
dominant_df['cat'].value_counts()

cat
1    359121
2    358920
4    341918
3    332538
0    311685
Name: count, dtype: int64

In [46]:
major_classes = [
    'A10BB',
    'A10A A10BA',
    'A10BA A10BB A10BG',
    'A10BA A10BG',
    'A10BG',
    'A10BA',
    'A10A',
    'A10A A10BA A10BB',
    'A10BA A10BB',
    'A10BA A10BB A10BF'
 ]

In [53]:
dominant_df.loc[~ dominant_df['drug'].isin(major_classes), 'drug'] = 'other'

In [56]:
dominant_proportions = dominant_df.groupby('cat')['drug'].value_counts(normalize=True)
dominant_proportions

cat  drug
0    A10BA                0.428484
     A10BA A10BB          0.207411
     A10A                 0.108940
     other                0.077232
     A10BB                0.068220
     A10A A10BA           0.037009
     A10BA A10BB A10BG    0.019789
     A10A A10BA A10BB     0.016642
     A10BA A10BB A10BF    0.015541
     A10BG                0.010963
     A10BA A10BG          0.009769
1    A10BA                0.455529
     A10BA A10BB          0.208192
     A10A                 0.090730
     other                0.071330
     A10BB                0.060283
     A10A A10BA           0.038541
     A10A A10BA A10BB     0.022029
     A10BA A10BB A10BG    0.017702
     A10BA A10BB A10BF    0.016070
     A10BA A10BG          0.009835
     A10BG                0.009760
2    A10BA                0.468823
     A10BA A10BB          0.202733
     A10A                 0.082464
     other                0.072111
     A10BB                0.053602
     A10A A10BA           0.041174
     A10A A10BA A10BB     0.025652
     A10BA A10BB A10BF    0.016820
     A10BA A10BB A10BG    0.016773
     A10BA A10BG          0.010153
     A10BG                0.009696
3    A10BA                0.474123
     A10BA A10BB          0.198660
     A10A                 0.078827
     other                0.072193
     A10BB                0.048746
     A10A A10BA           0.044681
     A10A A10BA A10BB     0.029642
     A10BA A10BB A10BF    0.017048
     A10BA A10BB A10BG    0.015794
     A10BA A10BG          0.010417
     A10BG                0.009870
4    A10BA                0.451134
     A10BA A10BB          0.203072
     A10A                 0.079490
     other                0.073676
     A10A A10BA           0.053715
     A10BB                0.046742
     A10A A10BA A10BB     0.039974
     A10BA A10BB A10BF    0.017144
     A10BA A10BB A10BG    0.013682
     A10BA A10BG          0.011146
     A10BG                0.010225
Name: proportion, dtype: float64

In [57]:
dominant_proportions[0].sort_values(ascending=False).to_frame('proportion').index

Index(['A10BA', 'A10BA A10BB', 'A10A', 'other', 'A10BB', 'A10A A10BA',
       'A10BA A10BB A10BG', 'A10A A10BA A10BB', 'A10BA A10BB A10BF', 'A10BG',
       'A10BA A10BG'],
      dtype='object', name='drug')

In [58]:
dominant_dict = dict()

In [59]:
for cat in sorted(dm_df['cat'].unique()):
    # Proportion
    # This also drops na so I can use the shape for confint
    temp_cat = dominant_proportions[cat].sort_values(ascending=False).to_frame(
        'proportion')
    # confidence intervals
    temp_cat['ci_low'], temp_cat['ci_up'] = my_proportion_confint(
        dominant_df.loc[dominant_df['cat'] == cat, ['drug']],
        'drug'
    )
    # Adding drug as a column
    temp_cat.reset_index(inplace=True)
    # Cumulative proportion sum
    temp_cat['cumulative'] = temp_cat['proportion'].cumsum().values
    dominant_dict[cat] = temp_cat

In [60]:
pd.concat(dominant_dict, axis=1)

                    0                                            \
                 drug proportion    ci_low     ci_up cumulative
0               A10BA   0.428484  0.426747  0.430221   0.428484
1         A10BA A10BB   0.207411  0.205988  0.208835   0.635895
2                A10A   0.108940  0.107846  0.110034   0.744835
3               other   0.077232  0.076295  0.078169   0.822067
4               A10BB   0.068220  0.067334  0.069105   0.890287
5          A10A A10BA   0.037009  0.036346  0.037671   0.927295
6   A10BA A10BB A10BG   0.019789  0.019300  0.020278   0.947084
7    A10A A10BA A10BB   0.016642  0.016193  0.017091   0.963726
8   A10BA A10BB A10BF   0.015541  0.015107  0.015976   0.979268
9               A10BG   0.010963  0.010597  0.011329   0.990231
10        A10BA A10BG   0.009769  0.009424  0.010115   1.000000

                    1                                            ...  \
                 drug proportion    ci_low     ci_up cumulative  ...
0               A10BA   0.455529  0.453900  0.457158   0.455529  ...
1         A10BA A10BB   0.208192  0.206864  0.209520   0.663721  ...
2                A10A   0.090730  0.089790  0.091669   0.754450  ...
3               other   0.071330  0.070488  0.072171   0.825780  ...
4               A10BB   0.060283  0.059505  0.061062   0.886063  ...
5          A10A A10BA   0.038541  0.037912  0.039171   0.924605  ...
6    A10A A10BA A10BB   0.022029  0.021549  0.022509   0.946634  ...
7   A10BA A10BB A10BG   0.017702  0.017270  0.018133   0.964335  ...
8   A10BA A10BB A10BF   0.016070  0.015659  0.016481   0.980405  ...
9         A10BA A10BG   0.009835  0.009512  0.010158   0.990240  ...
10              A10BG   0.009760  0.009438  0.010081   1.000000  ...

                    3                                            \
                 drug proportion    ci_low     ci_up cumulative
0               A10BA   0.474123  0.472426  0.475820   0.474123
1         A10BA A10BB   0.198660  0.197304  0.200016   0.672783
2                A10A   0.078827  0.077911  0.079743   0.751610
3               other   0.072193  0.071314  0.073073   0.823804
4               A10BB   0.048746  0.048014  0.049478   0.872550
5          A10A A10BA   0.044681  0.043978  0.045383   0.917231
6    A10A A10BA A10BB   0.029642  0.029065  0.030218   0.946872
7   A10BA A10BB A10BF   0.017048  0.016608  0.017488   0.963920
8   A10BA A10BB A10BG   0.015794  0.015370  0.016217   0.979714
9         A10BA A10BG   0.010417  0.010072  0.010762   0.990130
10              A10BG   0.009870  0.009534  0.010206   1.000000

                    4
                 drug proportion    ci_low     ci_up cumulative
0               A10BA   0.451134  0.449467  0.452802   0.451134
1         A10BA A10BB   0.203072  0.201724  0.204420   0.654207
2                A10A   0.079490  0.078583  0.080397   0.733696
3               other   0.073676  0.072800  0.074551   0.807372
4          A10A A10BA   0.053715  0.052959  0.054470   0.861087
5               A10BB   0.046742  0.046035  0.047450   0.907829
6    A10A A10BA A10BB   0.039974  0.039318  0.040631   0.947803
7   A10BA A10BB A10BF   0.017144  0.016709  0.017580   0.964948
8   A10BA A10BB A10BG   0.013682  0.013292  0.014071   0.978629
9         A10BA A10BG   0.011146  0.010794  0.011498   0.989775
10              A10BG   0.010225  0.009887  0.010562   1.000000

[11 rows x 25 columns]

## Saving dominant_dm_class

In [44]:
# Saving dominant_dm_class
# pd.concat(dominant_dict, axis=1).to_excel('./results/dominant_dm_class_table.xlsx')

In [61]:
# Saving dominant_dm_class_edited
# pd.concat(dominant_dict, axis=1).to_excel('../Results to Edit/dominant_dm_class_edited.xlsx')