In [2]:
import pandas as pd
import numpy as np
from statsmodels.stats.proportion import proportion_confint

In [3]:
df = pd.read_csv('../1403-4-16 export/prescription_table_numbers.csv', index_col=0)

In [4]:
df

            all        0         1         2         3         4
ab      7455416     2764    502401   1046963   1721120   4182168
dm      7783331   934428   1421837   1639246   1707564   2080256
total  99859824  6426526  12704037  17543904  22255883  40929474

In [5]:
concat_dict = dict()
concat_dict['number'] = df
concat_dict['proportion'] = df.loc[['ab', 'dm']] / df.loc['total']

In [6]:
concat_dict['low'], concat_dict['up'] = proportion_confint(df.loc[['ab', 'dm']], df.loc['total'])

In [7]:
concat_dict['proportion']

         all         0         1         2         3         4
ab  0.074659  0.000430  0.039547  0.059677  0.077333  0.102180
dm  0.077943  0.145402  0.111920  0.093437  0.076724  0.050825

In [8]:
# Saving prescription_table
# pd.concat(concat_dict, axis=1).to_excel('../19 Tir to send/complete_prescription_table.xlsx')