In [44]:
import pandas as pd
import numpy as np

In [45]:
dollor_coef = 25942

In [46]:
def build_string_0(val_df, low_df, up_df, to_percentage):

    if to_percentage:
        val_df = val_df * 100
        low_df = low_df * 100
        up_df = up_df * 100

    val_df = val_df.map(lambda x: f'{x:.0f}')
    low_df = low_df.map(lambda x: f'{x:.0f}')
    up_df = up_df.map(lambda x: f'{x:.0f}')



    return val_df + ' (' + low_df + '-' + up_df + ')'


def build_string_2(val_df, low_df, up_df, to_percentage):

    if to_percentage:
        val_df = val_df * 100
        low_df = low_df * 100
        up_df = up_df * 100

    val_df = val_df.map(lambda x: f'{x:.2f}')
    low_df = low_df.map(lambda x: f'{x:.2f}')
    up_df = up_df.map(lambda x: f'{x:.2f}')



    return val_df + ' (' + low_df + '-' + up_df + ')'

## Mean CI

In [47]:
# Importing
mean_df = pd.read_excel('../costs_by_variables_mean_ci_f.xlsx',
                        index_col=[0, 1], header=[0, 1, 2])
mean_df = mean_df / dollor_coef

In [48]:
mean_df

                                       val                                  \
                                        ab                              dm
                                 insurance    pocket        sum  insurance
gender   0                        2.839110  1.192085   4.031195  31.880920
         1                        2.991468  1.271410   4.262879  39.137949
fund     Civil servants           3.337173  1.433180   4.770353  42.181130
         Foreign                  0.553512  0.236201   0.789714  17.291978
         Iranian + Self-employed  2.689463  1.114240   3.803702  37.807974
         Others                   5.418259  2.329876   7.748134  34.123310
         Rural                    1.267223  0.491978   1.759201  26.040294
         Universal                1.730101  0.686733   2.416834  17.902118
age_cat  [18, 39]                 2.717957  1.106843   3.824799  16.831371
         [40, 64]                 3.100501  1.318974   4.419474  38.512355
         [65, 95]                 2.597361  1.113775   3.711136  44.872137
cat      0                        0.000000  0.000000   0.000000  25.638030
         1                        0.676478  0.289598   0.966076  29.824445
         2                        1.657302  0.704580   2.361881  33.826046
         3                        3.170809  1.336879   4.507689  37.377494
         4                        8.867628  3.728284  12.595911  44.301090
province 0                        2.741065  1.177426   3.918491  25.003160
         1                        3.205991  1.376054   4.582046  45.862242
         2                        2.140314  1.858243   3.998557  36.999775
         5                        3.902165  1.672122   5.574287  20.750583
         7                        3.256026  0.650746   3.906771  32.759716
         8                        1.977574  0.989674   2.967248  49.871908
         9                        2.650958  1.132416   3.783374  30.850747
         10                       2.754589  1.180256   3.934846  41.465663
         11                       3.138168  1.355635   4.493803  28.015699
         12                       2.499918  1.070357   3.570275  24.148037
         13                       2.996488  1.288380   4.284867  31.175160
         14                       3.047326  1.309181   4.356507  26.639941
         15                       3.377686  1.456845   4.834531  20.385088
         16                       6.236606  2.740496   8.977101  17.266041
         17                       4.492895  1.926263   6.419158  24.767705
         18                       2.660182  1.146350   3.806532  36.195487
         19                       2.303873  0.988567   3.292440  47.402963
         21                       2.263207  0.979386   3.242593  65.756496
         22                       1.895864  0.816070   2.711934  34.996889
         23                       2.308421  0.994036   3.302457  33.726004
         26                       2.383529  1.027161   3.410690  32.649846
         27                       4.871451  2.083661   6.955112  33.106840
         28                       3.624595  1.551752   5.176347  25.023074
         29                       2.757464  1.181540   3.939004  31.070022

                                                                             \
                                                           other
                                    pocket        sum  insurance     pocket
gender   0                        5.299991  37.180911  40.659737  11.622612
         1                        6.137203  45.275152  46.393680  12.232582
fund     Civil servants           7.083871  49.265001  52.056009  14.986505
         Foreign                  2.820632  20.112611  14.438421   2.105290
         Iranian + Self-employed  5.663157  43.471131  55.693871  12.043572
         Others                   5.853284  39.976594  53.794448  17.614733
         Rural                    3.991541  30.031835  24.690422   6.142598
         Universal                2.787722  20.689841  14.853282   4.603442
age_cat  [18, 39]                 2.499496  19.330867  29.128466   7.605499
         [40, 64]                 6.389607  44.901962  44.678032  12.190548
         [65, 95]                 7.289494  52.161630  53.358420  15.921936
cat      0                        4.180677  29.818706  18.327419   5.204332
         1                        4.925945  34.750389  28.756961   7.912822
         2                        5.571050  39.397096  37.471162  10.324409
         3                        6.088335  43.465830  48.823787  13.461911
         4                        7.041370  51.342460  78.373558  21.948746
province 0                        4.264717  29.267877  43.000164  11.744829
         1                        7.881513  53.743756  47.442286  13.802557
         2                        9.099449  46.099224  32.914712  15.505170
         5                        3.892974  24.643557  34.897957  10.452374
         7                        3.093166  35.852882  44.942713   8.453616
         8                        9.128435  59.000343  38.885769  12.700300
         9                        5.004061  35.854808  41.402432  11.507161
         10                       6.599239  48.064902  46.933961  13.371422
         11                       4.821049  32.836748  26.640180   8.031991
         12                       4.035688  28.183725  31.066569   8.546999
         13                       5.106164  36.281323  38.263433  10.747734
         14                       4.569834  31.209774  43.783668  12.950407
         15                       3.499254  23.884342  30.307520   9.573488
         16                       3.577518  20.843559  39.331235  13.680714
         17                       4.276993  29.044697  32.190886  11.002396
         18                       5.731770  41.927258  36.125520   9.411028
         19                       7.742097  55.145060  46.933893  11.961791
         21                       9.695438  75.451934  40.605585  11.301100
         22                       5.723214  40.720103  29.846121   7.727054
         23                       5.497897  39.223901  55.143286  14.099832
         26                       5.345470  37.995315  42.570346  11.046538
         27                       4.990223  38.097063  43.913283  12.332488
         28                       4.156780  29.179854  30.119378   9.875841
         29                       5.136131  36.206153  33.637232   9.844593

                                                          ...        up  \
                                                   total  ...        ab
                                         sum       total  ... insurance
gender   0                         52.282349   93.494455  ...  2.847451
         1                         58.626262  108.164293  ...  3.008597
fund     Civil servants            67.042514  121.077868  ...  3.349554
         Foreign                   16.543711   37.446035  ...  0.598963
         Iranian + Self-employed   67.737443  115.012277  ...  2.710319
         Others                    71.409181  119.133910  ...  5.453613
         Rural                     30.833020   62.624056  ...  1.277937
         Universal                 19.456724   42.563399  ...  1.741686
age_cat  [18, 39]                  36.733964   59.889630  ...  2.731007
         [40, 64]                  56.868580  106.190016  ...  3.111975
         [65, 95]                  69.280356  125.153123  ...  2.615553
cat      0                         23.531751   53.350458  ...       NaN
         1                         36.669783   72.386248  ...  0.678982
         2                         47.795570   89.554548  ...  1.661471
         3                         62.285699  110.259217  ...  3.177634
         4                        100.322304  164.260675  ...  8.898247
province 0                         54.744993   87.931361  ...  2.784926
         1                         61.244843  119.570644  ...  3.242941
         2                         48.419882   98.517662  ...  2.163424
         5                         45.350331   75.568175  ...  3.947237
         7                         53.396328   93.155982  ...  3.278939
         8                         51.586069  113.553661  ...  2.002640
         9                         52.909593   92.547775  ...  2.679528
         10                        60.305383  112.305131  ...  2.777174
         11                        34.672172   72.002723  ...  3.169191
         12                        39.613567   71.367567  ...  2.529621
         13                        49.011168   89.577358  ...  3.049257
         14                        56.734076   92.300357  ...  3.102232
         15                        39.881008   68.599881  ...  3.423522
         16                        53.011949   82.832609  ...  6.322660
         17                        43.193282   78.657137  ...  4.559498
         18                        45.536547   91.270337  ...  2.711488
         19                        58.895684  117.333184  ...  2.374618
         21                        51.906685  130.601212  ...  2.296748
         22                        37.573175   81.005213  ...  1.931263
         23                        69.243119  111.769477  ...  2.326433
         26                        53.616884   95.022889  ...  2.439163
         27                        56.245771  101.297946  ...  4.946963
         28                        39.995219   74.351420  ...  3.700477
         29                        43.481825   83.626982  ...  2.815458

                                                                            \
                                                              dm
                                    pocket        sum  insurance    pocket
gender   0                        1.195713   4.042926  32.119940  5.331082
         1                        1.278823   4.287083  39.518361  6.185458
fund     Civil servants           1.438581   4.787822  42.553457  7.132103
         Foreign                  0.255753   0.854530  18.935733  3.018730
         Iranian + Self-employed  1.123209   3.832968  38.355264  5.731417
         Others                   2.345490   7.798331  34.712339  5.929809
         Rural                    0.496142   1.773719  26.402851  4.038263
         Universal                0.691520   2.432819  18.203732  2.824480
age_cat  [18, 39]                 1.112285   3.842923  17.098671  2.532056
         [40, 64]                 1.324028   4.435728  38.817539  6.429316
         [65, 95]                 1.121609   3.736781  45.352683  7.350871
cat      0                             NaN        NaN  26.010344  4.228807
         1                        0.290654   0.969504  30.214335  4.975933
         2                        0.706433   2.367572  34.264436  5.627655
         3                        1.340011   4.517134  37.870962  6.151839
         4                        3.741774  12.638964  44.850902  7.112169
province 0                        1.196162   3.981047  25.915239  4.382042
         1                        1.391864   4.634787  47.057344  8.036853
         2                        1.878743   4.040182  37.888255  9.230084
         5                        1.691419   5.638647  21.475415  3.996214
         7                        0.656640   3.934028  33.314811  3.144218
         8                        1.002370   3.004545  51.302643  9.327705
         9                        1.144254   3.823645  31.388328  5.072623
         10                       1.189771   3.966896  42.200075  6.691227
         11                       1.368939   4.538093  28.983431  4.968503
         12                       1.082896   3.612453  25.086362  4.153066
         13                       1.311061   4.360279  32.294910  5.253964
         14                       1.332740   4.434927  28.173414  4.768413
         15                       1.476819   4.900233  21.157691  3.599758
         16                       2.778561   9.100929  18.271726  3.715951
         17                       1.954784   6.514240  26.381428  4.508537
         18                       1.172313   3.880602  38.091692  5.972602
         19                       1.018315   3.392897  49.922272  8.069406
         21                       0.993987   3.290583  67.975008  9.972043
         22                       0.831216   2.762420  36.776343  5.986252
         23                       1.001716   3.327946  34.161024  5.552926
         26                       1.051066   3.490177  34.353169  5.558745
         27                       2.114854   7.061702  34.102002  5.114322
         28                       1.583602   5.283959  26.571568  4.350124
         29                       1.206248   4.021633  32.917757  5.369298

                                                                               \
                                                 other
                                        sum  insurance     pocket         sum
gender   0                        37.449272  41.178750  11.742234   52.902786
         1                        45.701415  47.182510  12.412109   59.558851
fund     Civil servants           49.682985  52.853426  15.188473   68.013698
         Foreign                  21.934854  19.354858   2.322261   21.550237
         Iranian + Self-employed  44.083535  57.158985  12.294394   69.389880
         Others                   40.638205  54.903822  17.874569   72.737610
         Rural                    30.438504  25.357394   6.255406   31.594418
         Universal                21.024993  15.271995   4.691120   19.950075
age_cat  [18, 39]                 19.628753  29.810054   7.725095   37.498711
         [40, 64]                 45.244671  45.333421  12.335802   57.647436
         [65, 95]                 52.700581  54.280655  16.180463   70.428889
cat      0                        30.236918  18.929895   5.339743   24.247437
         1                        35.187634  29.577881   8.091967   37.633850
         2                        39.889030  38.342360  10.517876   48.831068
         3                        44.019309  49.897644  13.709322   63.560935
         4                        51.959053  79.674684  22.257258  101.883683
province 0                        30.294296  45.998563  12.354385   58.271980
         1                        55.090218  49.230236  14.245869   63.412941
         2                        47.094597  34.303609  15.829283   50.080226
         5                        25.467388  36.466522  10.820617   47.222428
         7                        36.452371  46.133358   8.678414   54.771004
         8                        60.616604  41.137818  13.321492   54.386297
         9                        36.458986  42.660559  11.772798   54.392392
         10                       48.889807  48.328581  13.728838   62.002778
         11                       33.944912  27.968508   8.381260   36.283704
         12                       29.237010  32.739295   8.837980   41.516897
         13                       37.544466  40.575219  11.272683   51.771751
         14                       32.937403  47.324068  13.734104   60.940421
         15                       24.753436  31.880373   9.903287   41.734573
         16                       21.977295  41.633297  14.210304   55.742663
         17                       30.881861  34.458876  11.606855   46.007686
         18                       44.057039  39.004688   9.844795   48.770088
         19                       57.984414  52.688142  12.997853   65.591605
         21                       77.941331  42.998408  11.877550   54.757459
         22                       42.744560  32.936058   8.417711   41.268570
         23                       39.712772  56.625148  14.444280   71.005477
         26                       39.907653  47.281509  12.095502   59.213344
         27                       39.214696  45.911862  12.810253   58.660549
         28                       30.918819  32.933036  10.572720   43.370271
         29                       38.283649  36.696313  10.483173   47.072449


                                       total
                                       total
gender   0                         94.180458
         1                        109.211879
fund     Civil servants           122.148897
         Foreign                   42.842020
         Iranian + Self-employed  116.801304
         Others                   120.667372
         Rural                     63.501457
         Universal                 43.169099
age_cat  [18, 39]                  60.721252
         [40, 64]                 107.055048
         [65, 95]                 126.444319
cat      0                         54.191310
         1                         73.456189
         2                         90.715495
         3                        111.668064
         4                        165.971796
province 0                         91.672423
         1                        122.185853
         2                        100.498450
         5                         77.643352
         7                         94.683058
         8                        116.845870
         9                         94.176530
         10                       114.233194
         11                        74.010346
         12                        73.588369
         13                        92.664982
         14                        96.908331
         15                        70.698198
         16                        85.865790
         17                        82.071272
         18                        95.232326
         19                       124.695642
         21                       134.481148
         22                        85.299803
         23                       113.618170
         26                       101.000643
         27                       104.018914
         28                        78.274009
         29                        87.864836

[40 rows x 30 columns]

In [49]:
# Removing all insurance columns
mean_df.drop('insurance', axis=1, level=2, inplace=True)

mean_df[('val', 'ab', 'sum')]

gender    0                           4.031195
          1                           4.262879
fund      Civil servants              4.770353
          Foreign                     0.789714
          Iranian + Self-employed     3.803702
          Others                      7.748134
          Rural                       1.759201
          Universal                   2.416834
age_cat   [18, 39]                    3.824799
          [40, 64]                    4.419474
          [65, 95]                    3.711136
cat       0                           0.000000
          1                           0.966076
          2                           2.361881
          3                           4.507689
          4                          12.595911
province  0                           3.918491
          1                           4.582046
          2                           3.998557
          5                           5.574287
          7                           3.906771
          8                           2.967248
          9                           3.783374
          10                          3.934846
          11                          4.493803
          12                          3.570275
          13                          4.284867
          14                          4.356507
          15                          4.834531
          16                          8.977101
          17                          6.419158
          18                          3.806532
          19                          3.292440
          21                          3.242593
          22                          2.711934
          23                          3.302457
          26                          3.410690
          27                          6.955112
          28                          5.176347
          29                          3.939004
Name: (val, ab, sum), dtype: float64

In [50]:
build_string_0(
    mean_df[('val', 'ab', 'sum')],
    mean_df[('low', 'ab', 'sum')],
    mean_df[('up', 'ab', 'sum')],
    to_percentage=False,
)

gender    0                              4 (4-4)
          1                              4 (4-4)
fund      Civil servants                 5 (5-5)
          Foreign                        1 (1-1)
          Iranian + Self-employed        4 (4-4)
          Others                         8 (8-8)
          Rural                          2 (2-2)
          Universal                      2 (2-2)
age_cat   [18, 39]                       4 (4-4)
          [40, 64]                       4 (4-4)
          [65, 95]                       4 (4-4)
cat       0                          0 (nan-nan)
          1                              1 (1-1)
          2                              2 (2-2)
          3                              5 (4-5)
          4                           13 (13-13)
province  0                              4 (4-4)
          1                              5 (5-5)
          2                              4 (4-4)
          5                              6 (6-6)
          7                              4 (4-4)
          8                              3 (3-3)
          9                              4 (4-4)
          10                             4 (4-4)
          11                             4 (4-5)
          12                             4 (4-4)
          13                             4 (4-4)
          14                             4 (4-4)
          15                             5 (5-5)
          16                             9 (9-9)
          17                             6 (6-7)
          18                             4 (4-4)
          19                             3 (3-3)
          21                             3 (3-3)
          22                             3 (3-3)
          23                             3 (3-3)
          26                             3 (3-3)
          27                             7 (7-7)
          28                             5 (5-5)
          29                             4 (4-4)
dtype: object

In [51]:
mean_table = pd.DataFrame(index=mean_df['val'].index, columns=mean_df['val'].columns)

In [52]:
mean_df.loc[:, pd.IndexSlice['val', :, 'sum']]

                                        val
                                         ab         dm       other
                                        sum        sum         sum
gender   0                         4.031195  37.180911   52.282349
         1                         4.262879  45.275152   58.626262
fund     Civil servants            4.770353  49.265001   67.042514
         Foreign                   0.789714  20.112611   16.543711
         Iranian + Self-employed   3.803702  43.471131   67.737443
         Others                    7.748134  39.976594   71.409181
         Rural                     1.759201  30.031835   30.833020
         Universal                 2.416834  20.689841   19.456724
age_cat  [18, 39]                  3.824799  19.330867   36.733964
         [40, 64]                  4.419474  44.901962   56.868580
         [65, 95]                  3.711136  52.161630   69.280356
cat      0                         0.000000  29.818706   23.531751
         1                         0.966076  34.750389   36.669783
         2                         2.361881  39.397096   47.795570
         3                         4.507689  43.465830   62.285699
         4                        12.595911  51.342460  100.322304
province 0                         3.918491  29.267877   54.744993
         1                         4.582046  53.743756   61.244843
         2                         3.998557  46.099224   48.419882
         5                         5.574287  24.643557   45.350331
         7                         3.906771  35.852882   53.396328
         8                         2.967248  59.000343   51.586069
         9                         3.783374  35.854808   52.909593
         10                        3.934846  48.064902   60.305383
         11                        4.493803  32.836748   34.672172
         12                        3.570275  28.183725   39.613567
         13                        4.284867  36.281323   49.011168
         14                        4.356507  31.209774   56.734076
         15                        4.834531  23.884342   39.881008
         16                        8.977101  20.843559   53.011949
         17                        6.419158  29.044697   43.193282
         18                        3.806532  41.927258   45.536547
         19                        3.292440  55.145060   58.895684
         21                        3.242593  75.451934   51.906685
         22                        2.711934  40.720103   37.573175
         23                        3.302457  39.223901   69.243119
         26                        3.410690  37.995315   53.616884
         27                        6.955112  38.097063   56.245771
         28                        5.176347  29.179854   39.995219
         29                        3.939004  36.206153   43.481825

In [53]:
# Putting in total
mean_table[('total', 'total')] = build_string_0(
    mean_df[('val', 'total', 'total')],
    mean_df[('low', 'total', 'total')],
    mean_df[('up', 'total', 'total')],
    to_percentage=False
)

In [54]:
mean_table

                                     ab          dm       other       \
                                 pocket  sum pocket  sum pocket  sum
gender   0                          NaN  NaN    NaN  NaN    NaN  NaN
         1                          NaN  NaN    NaN  NaN    NaN  NaN
fund     Civil servants             NaN  NaN    NaN  NaN    NaN  NaN
         Foreign                    NaN  NaN    NaN  NaN    NaN  NaN
         Iranian + Self-employed    NaN  NaN    NaN  NaN    NaN  NaN
         Others                     NaN  NaN    NaN  NaN    NaN  NaN
         Rural                      NaN  NaN    NaN  NaN    NaN  NaN
         Universal                  NaN  NaN    NaN  NaN    NaN  NaN
age_cat  [18, 39]                   NaN  NaN    NaN  NaN    NaN  NaN
         [40, 64]                   NaN  NaN    NaN  NaN    NaN  NaN
         [65, 95]                   NaN  NaN    NaN  NaN    NaN  NaN
cat      0                          NaN  NaN    NaN  NaN    NaN  NaN
         1                          NaN  NaN    NaN  NaN    NaN  NaN
         2                          NaN  NaN    NaN  NaN    NaN  NaN
         3                          NaN  NaN    NaN  NaN    NaN  NaN
         4                          NaN  NaN    NaN  NaN    NaN  NaN
province 0                          NaN  NaN    NaN  NaN    NaN  NaN
         1                          NaN  NaN    NaN  NaN    NaN  NaN
         2                          NaN  NaN    NaN  NaN    NaN  NaN
         5                          NaN  NaN    NaN  NaN    NaN  NaN
         7                          NaN  NaN    NaN  NaN    NaN  NaN
         8                          NaN  NaN    NaN  NaN    NaN  NaN
         9                          NaN  NaN    NaN  NaN    NaN  NaN
         10                         NaN  NaN    NaN  NaN    NaN  NaN
         11                         NaN  NaN    NaN  NaN    NaN  NaN
         12                         NaN  NaN    NaN  NaN    NaN  NaN
         13                         NaN  NaN    NaN  NaN    NaN  NaN
         14                         NaN  NaN    NaN  NaN    NaN  NaN
         15                         NaN  NaN    NaN  NaN    NaN  NaN
         16                         NaN  NaN    NaN  NaN    NaN  NaN
         17                         NaN  NaN    NaN  NaN    NaN  NaN
         18                         NaN  NaN    NaN  NaN    NaN  NaN
         19                         NaN  NaN    NaN  NaN    NaN  NaN
         21                         NaN  NaN    NaN  NaN    NaN  NaN
         22                         NaN  NaN    NaN  NaN    NaN  NaN
         23                         NaN  NaN    NaN  NaN    NaN  NaN
         26                         NaN  NaN    NaN  NaN    NaN  NaN
         27                         NaN  NaN    NaN  NaN    NaN  NaN
         28                         NaN  NaN    NaN  NaN    NaN  NaN
         29                         NaN  NaN    NaN  NaN    NaN  NaN

                                          total
                                          total
gender   0                           93 (93-94)
         1                        108 (107-109)
fund     Civil servants           121 (120-122)
         Foreign                     37 (32-43)
         Iranian + Self-employed  115 (113-117)
         Others                   119 (118-121)
         Rural                       63 (62-64)
         Universal                   43 (42-43)
age_cat  [18, 39]                    60 (59-61)
         [40, 64]                 106 (105-107)
         [65, 95]                 125 (124-126)
cat      0                           53 (53-54)
         1                           72 (71-73)
         2                           90 (88-91)
         3                        110 (109-112)
         4                        164 (163-166)
province 0                           88 (84-92)
         1                        120 (117-122)
         2                          99 (97-100)
         5                           76 (73-78)
         7                           93 (92-95)
         8                        114 (110-117)
         9                           93 (91-94)
         10                       112 (110-114)
         11                          72 (70-74)
         12                          71 (69-74)
         13                          90 (86-93)
         14                          92 (88-97)
         15                          69 (67-71)
         16                          83 (80-86)
         17                          79 (75-82)
         18                          91 (87-95)
         19                       117 (110-125)
         21                       131 (127-134)
         22                          81 (77-85)
         23                       112 (110-114)
         26                         95 (89-101)
         27                        101 (99-104)
         28                          74 (70-78)
         29                          84 (79-88)

In [55]:
# calculating proportions
# pocket / sum
for col1 in ['val', 'low', 'up']:
    for col2 in ['ab', 'dm', 'other']:
        mean_df.loc[:, (col1, col2, 'pocket')] = (
            mean_df.loc[:, (col1, col2, 'pocket')] / mean_df.loc[:, ('val', col2, 'sum')]
            )
# sum / total
for col1 in ['val', 'low', 'up']:
    for col2 in ['ab', 'dm', 'other']:
        mean_df.loc[:, (col1, col2, 'sum')] = (
            mean_df.loc[:, (col1, col2, 'sum')] / mean_df.loc[:, ('val', 'total', 'total')]
            )

In [56]:
# Building string and putting it in the table.
for col2 in ['ab', 'dm', 'other']:
    
    # pocket
    mean_table.loc[:, (col2, 'pocket')] = build_string_2(
        mean_df[('val', col2, 'pocket')],
        mean_df[('low', col2, 'pocket')],
        mean_df[('up', col2, 'pocket')],
        to_percentage=True
    )

    # sum
    mean_table.loc[:, (col2, 'sum')] = build_string_2(
        mean_df[('val', col2, 'sum')],
        mean_df[('low', col2, 'sum')],
        mean_df[('up', col2, 'sum')],
        to_percentage=True
    )

In [57]:
mean_table

                                                   ab                       \
                                               pocket                  sum
gender   0                        29.57 (29.48-29.66)     4.31 (4.30-4.32)
         1                        29.83 (29.65-30.00)     3.94 (3.92-3.96)
fund     Civil servants           30.04 (29.93-30.16)     3.94 (3.93-3.95)
         Foreign                  29.91 (27.43-32.39)     2.11 (1.94-2.28)
         Iranian + Self-employed  29.29 (29.06-29.53)     3.31 (3.28-3.33)
         Others                   30.07 (29.87-30.27)     6.50 (6.46-6.55)
         Rural                    27.97 (27.73-28.20)     2.81 (2.79-2.83)
         Universal                28.41 (28.22-28.61)     5.68 (5.64-5.72)
age_cat  [18, 39]                 28.94 (28.80-29.08)     6.39 (6.36-6.42)
         [40, 64]                 29.84 (29.73-29.96)     4.16 (4.15-4.18)
         [65, 95]                 30.01 (29.80-30.22)     2.97 (2.94-2.99)
cat      0                              nan (nan-nan)       0.00 (nan-nan)
         1                        29.98 (29.87-30.09)     1.33 (1.33-1.34)
         2                        29.83 (29.75-29.91)     2.64 (2.63-2.64)
         3                        29.66 (29.59-29.73)     4.09 (4.08-4.10)
         4                        29.60 (29.49-29.71)     7.67 (7.64-7.69)
province 0                        30.05 (29.57-30.53)     4.46 (4.39-4.53)
         1                        30.03 (29.69-30.38)     3.83 (3.79-3.88)
         2                        46.47 (45.96-46.99)     4.06 (4.02-4.10)
         5                        30.00 (29.65-30.34)     7.38 (7.29-7.46)
         7                        16.66 (16.51-16.81)     4.19 (4.16-4.22)
         8                        33.35 (32.93-33.78)     2.61 (2.58-2.65)
         9                        29.93 (29.62-30.24)     4.09 (4.04-4.13)
         10                       29.99 (29.75-30.24)     3.50 (3.48-3.53)
         11                       30.17 (29.87-30.46)     6.24 (6.18-6.30)
         12                       29.98 (29.63-30.33)     5.00 (4.94-5.06)
         13                       30.07 (29.54-30.60)     4.78 (4.70-4.87)
         14                       30.05 (29.51-30.59)     4.72 (4.63-4.80)
         15                       30.13 (29.72-30.55)     7.05 (6.95-7.14)
         16                       30.53 (30.10-30.95)  10.84 (10.69-10.99)
         17                       30.01 (29.56-30.45)     8.16 (8.04-8.28)
         18                       30.12 (29.43-30.80)     4.17 (4.09-4.25)
         19                       30.03 (29.12-30.93)     2.81 (2.72-2.89)
         21                       30.20 (29.75-30.65)     2.48 (2.45-2.52)
         22                       30.09 (29.53-30.65)     3.35 (3.29-3.41)
         23                       30.10 (29.87-30.33)     2.95 (2.93-2.98)
         26                       30.12 (29.42-30.82)     3.59 (3.51-3.67)
         27                       29.96 (29.51-30.41)     6.87 (6.76-6.97)
         28                       29.98 (29.36-30.59)     6.96 (6.82-7.11)
         29                       30.00 (29.37-30.62)     4.71 (4.61-4.81)

                                                   dm                       \
                                               pocket                  sum
gender   0                        14.25 (14.17-14.34)  39.77 (39.48-40.06)
         1                        13.56 (13.45-13.66)  41.86 (41.46-42.25)
fund     Civil servants           14.38 (14.28-14.48)  40.69 (40.34-41.03)
         Foreign                  14.02 (13.04-15.01)  53.71 (48.84-58.58)
         Iranian + Self-employed  13.03 (12.87-13.18)  37.80 (37.26-38.33)
         Others                   14.64 (14.45-14.83)  33.56 (33.00-34.11)
         Rural                    13.29 (13.14-13.45)  47.96 (47.31-48.61)
         Universal                13.47 (13.30-13.65)  48.61 (47.82-49.40)
age_cat  [18, 39]                 12.93 (12.76-13.10)  32.28 (31.78-32.77)
         [40, 64]                 14.23 (14.14-14.32)  42.28 (41.96-42.61)
         [65, 95]                 13.97 (13.86-14.09)  41.68 (41.25-42.11)
cat      0                        14.02 (13.86-14.18)  55.89 (55.11-56.68)
         1                        14.18 (14.03-14.32)  48.01 (47.40-48.61)
         2                        14.14 (14.00-14.28)  43.99 (43.44-44.54)
         3                        14.01 (13.86-14.15)  39.42 (38.92-39.92)
         4                        13.71 (13.58-13.85)  31.26 (30.88-31.63)
province 0                        14.57 (14.17-14.97)  33.28 (32.12-34.45)
         1                        14.66 (14.38-14.95)  44.95 (43.82-46.07)
         2                        19.74 (19.46-20.02)  46.79 (45.78-47.80)
         5                        15.80 (15.38-16.22)  32.61 (31.52-33.70)
         7                           8.63 (8.48-8.77)  38.49 (37.84-39.13)
         8                        15.47 (15.13-15.81)  51.96 (50.53-53.38)
         9                        13.96 (13.77-14.15)  38.74 (38.09-39.39)
         10                       13.73 (13.54-13.92)  42.80 (42.06-43.53)
         11                       14.68 (14.23-15.13)  45.60 (44.07-47.14)
         12                       14.32 (13.90-14.74)  39.49 (38.02-40.97)
         13                       14.07 (13.67-14.48)  40.50 (39.09-41.91)
         14                       14.64 (14.01-15.28)  33.81 (31.94-35.69)
         15                       14.65 (14.23-15.07)  34.82 (33.55-36.08)
         16                       17.16 (16.50-17.83)  25.16 (23.79-26.53)
         17                       14.73 (13.93-15.52)  36.93 (34.59-39.26)
         18                       13.67 (13.10-14.25)  45.94 (43.60-48.27)
         19                       14.04 (13.45-14.63)  47.00 (44.58-49.42)
         21                       12.85 (12.48-13.22)  57.77 (55.87-59.68)
         22                       14.06 (13.41-14.70)  50.27 (47.77-52.77)
         23                       14.02 (13.88-14.16)  35.09 (34.66-35.53)
         26                       14.07 (13.51-14.63)  39.99 (37.97-42.00)
         27                       13.10 (12.77-13.42)  37.61 (36.51-38.71)
         28                       14.25 (13.58-14.91)  39.25 (36.91-41.58)
         29                       14.19 (13.54-14.83)  43.29 (40.81-45.78)

                                                other                       \
                                               pocket                  sum
gender   0                        22.23 (22.00-22.46)  55.92 (55.26-56.58)
         1                        20.87 (20.56-21.17)  54.20 (53.34-55.06)
fund     Civil servants           22.35 (22.05-22.65)  55.37 (54.57-56.17)
         Foreign                  12.73 (11.41-14.04)  44.18 (30.81-57.55)
         Iranian + Self-employed  17.78 (17.41-18.15)  58.90 (57.46-60.33)
         Others                   24.67 (24.30-25.03)  59.94 (58.83-61.06)
         Rural                    19.92 (19.56-20.29)  49.24 (48.02-50.45)
         Universal                23.66 (23.21-24.11)  45.71 (44.55-46.87)
age_cat  [18, 39]                 20.70 (20.38-21.03)  61.34 (60.06-62.61)
         [40, 64]                 21.44 (21.18-21.69)  53.55 (52.82-54.29)
         [65, 95]                 22.98 (22.61-23.36)  55.36 (54.44-56.27)
cat      0                        22.12 (21.54-22.69)  44.11 (42.77-45.45)
         1                        21.58 (21.09-22.07)  50.66 (49.33-51.99)
         2                        21.60 (21.20-22.01)  53.37 (52.21-54.53)
         3                        21.61 (21.22-22.01)  56.49 (55.33-57.65)
         4                        21.88 (21.57-22.19)  61.08 (60.12-62.03)
province 0                        21.45 (20.34-22.57)  62.26 (58.25-66.27)
         1                        22.54 (21.81-23.26)  51.22 (49.41-53.03)
         2                        32.02 (31.35-32.69)  49.15 (47.46-50.83)
         5                        23.05 (22.24-23.86)  60.01 (57.54-62.49)
         7                        15.83 (15.41-16.25)  57.32 (55.84-58.79)
         8                        24.62 (23.42-25.82)  45.43 (42.96-47.89)
         9                        21.75 (21.25-22.25)  57.17 (55.57-58.77)
         10                       22.17 (21.58-22.77)  53.70 (52.19-55.21)
         11                       23.17 (22.16-24.17)  48.15 (45.92-50.39)
         12                       21.58 (20.84-22.31)  55.51 (52.84-58.17)
         13                       21.93 (20.86-23.00)  54.71 (51.63-57.80)
         14                       22.83 (21.45-24.21)  61.47 (56.91-66.02)
         15                       24.01 (23.18-24.83)  58.14 (55.43-60.84)
         16                       25.81 (24.81-26.81)  64.00 (60.70-67.30)
         17                       25.47 (24.07-26.87)  54.91 (51.34-58.49)
         18                       20.67 (19.71-21.62)  49.89 (46.35-53.43)
         19                       20.31 (18.55-22.07)  50.20 (44.49-55.90)
         21                       21.77 (20.66-22.88)  39.74 (37.56-41.93)
         22                       20.57 (18.73-22.40)  46.38 (41.82-50.95)
         23                       20.36 (19.87-20.86)  61.95 (60.37-63.53)
         26                       20.60 (18.65-22.56)  56.43 (50.54-62.31)
         27                       21.93 (21.08-22.78)  55.53 (53.14-57.91)
         28                       24.69 (22.95-26.43)  53.79 (49.25-58.33)
         29                       22.64 (21.17-24.11)  51.99 (47.70-56.29)

                                          total
                                          total
gender   0                           93 (93-94)
         1                        108 (107-109)
fund     Civil servants           121 (120-122)
         Foreign                     37 (32-43)
         Iranian + Self-employed  115 (113-117)
         Others                   119 (118-121)
         Rural                       63 (62-64)
         Universal                   43 (42-43)
age_cat  [18, 39]                    60 (59-61)
         [40, 64]                 106 (105-107)
         [65, 95]                 125 (124-126)
cat      0                           53 (53-54)
         1                           72 (71-73)
         2                           90 (88-91)
         3                        110 (109-112)
         4                        164 (163-166)
province 0                           88 (84-92)
         1                        120 (117-122)
         2                          99 (97-100)
         5                           76 (73-78)
         7                           93 (92-95)
         8                        114 (110-117)
         9                           93 (91-94)
         10                       112 (110-114)
         11                          72 (70-74)
         12                          71 (69-74)
         13                          90 (86-93)
         14                          92 (88-97)
         15                          69 (67-71)
         16                          83 (80-86)
         17                          79 (75-82)
         18                          91 (87-95)
         19                       117 (110-125)
         21                       131 (127-134)
         22                          81 (77-85)
         23                       112 (110-114)
         26                         95 (89-101)
         27                        101 (99-104)
         28                          74 (70-78)
         29                          84 (79-88)

### Decoding province names

In [58]:
# province_id
province_id = pd.read_excel('../../diabeteschronicabuserprojectihio/Test_sample/Test/province_id.xlsx')
province_mapper = province_id.set_index('province_id_iso')['province_name_en']

In [59]:
def rename_second_level(df, specific_level_0, mapper):

    # Reseting index 0 and 1
    df = df.reset_index([0, 1])

    # return mapper[df.loc[df['level_0'] == specific_level_0, 'level_1']].values

    df.loc[df['level_0'] == specific_level_0, 'level_1'] =\
        mapper[df.loc[df['level_0'] == specific_level_0, 'level_1']].values



    return df.set_index(['level_0', 'level_1'])

In [60]:
mean_table = rename_second_level(mean_table, 'province', province_mapper)

### Saving

In [61]:
# Saving costs_table_mean_ci_edited
# mean_table.to_excel('../costs_table_mean_ci_edited.xlsx')

# Saving costs_table_mean_ci_edited_DOLLARS
# mean_table.to_excel('../costs_table_mean_ci_edited_DOLLARS_f.xlsx')

## Median IQR

In [62]:
median_df = pd.read_excel('../costs_by_variables_quartiles_f.xlsx',
                          index_col=[0, 1], header=[0, 1, 2])
median_df = median_df / dollor_coef

In [63]:
# Removing all insurance columns
median_df.drop('insurance', axis=1, level=2, inplace=True)

In [64]:
# Computing iqr
iqr = median_df[0.75] - median_df[0.25]

In [65]:
median_table = pd.DataFrame(index=iqr.index, columns=iqr.columns)
median_table

                                     ab          dm       other      total
                                 pocket  sum pocket  sum pocket  sum total
gender   0                          NaN  NaN    NaN  NaN    NaN  NaN   NaN
         1                          NaN  NaN    NaN  NaN    NaN  NaN   NaN
fund     Civil servants             NaN  NaN    NaN  NaN    NaN  NaN   NaN
         Foreign                    NaN  NaN    NaN  NaN    NaN  NaN   NaN
         Iranian + Self-employed    NaN  NaN    NaN  NaN    NaN  NaN   NaN
         Others                     NaN  NaN    NaN  NaN    NaN  NaN   NaN
         Rural                      NaN  NaN    NaN  NaN    NaN  NaN   NaN
         Universal                  NaN  NaN    NaN  NaN    NaN  NaN   NaN
age_cat  [18, 39]                   NaN  NaN    NaN  NaN    NaN  NaN   NaN
         [40, 64]                   NaN  NaN    NaN  NaN    NaN  NaN   NaN
         [65, 95]                   NaN  NaN    NaN  NaN    NaN  NaN   NaN
cat      0                          NaN  NaN    NaN  NaN    NaN  NaN   NaN
         1                          NaN  NaN    NaN  NaN    NaN  NaN   NaN
         2                          NaN  NaN    NaN  NaN    NaN  NaN   NaN
         3                          NaN  NaN    NaN  NaN    NaN  NaN   NaN
         4                          NaN  NaN    NaN  NaN    NaN  NaN   NaN
province 0                          NaN  NaN    NaN  NaN    NaN  NaN   NaN
         1                          NaN  NaN    NaN  NaN    NaN  NaN   NaN
         2                          NaN  NaN    NaN  NaN    NaN  NaN   NaN
         5                          NaN  NaN    NaN  NaN    NaN  NaN   NaN
         7                          NaN  NaN    NaN  NaN    NaN  NaN   NaN
         8                          NaN  NaN    NaN  NaN    NaN  NaN   NaN
         9                          NaN  NaN    NaN  NaN    NaN  NaN   NaN
         10                         NaN  NaN    NaN  NaN    NaN  NaN   NaN
         11                         NaN  NaN    NaN  NaN    NaN  NaN   NaN
         12                         NaN  NaN    NaN  NaN    NaN  NaN   NaN
         13                         NaN  NaN    NaN  NaN    NaN  NaN   NaN
         14                         NaN  NaN    NaN  NaN    NaN  NaN   NaN
         15                         NaN  NaN    NaN  NaN    NaN  NaN   NaN
         16                         NaN  NaN    NaN  NaN    NaN  NaN   NaN
         17                         NaN  NaN    NaN  NaN    NaN  NaN   NaN
         18                         NaN  NaN    NaN  NaN    NaN  NaN   NaN
         19                         NaN  NaN    NaN  NaN    NaN  NaN   NaN
         21                         NaN  NaN    NaN  NaN    NaN  NaN   NaN
         22                         NaN  NaN    NaN  NaN    NaN  NaN   NaN
         23                         NaN  NaN    NaN  NaN    NaN  NaN   NaN
         26                         NaN  NaN    NaN  NaN    NaN  NaN   NaN
         27                         NaN  NaN    NaN  NaN    NaN  NaN   NaN
         28                         NaN  NaN    NaN  NaN    NaN  NaN   NaN
         29                         NaN  NaN    NaN  NaN    NaN  NaN   NaN

In [66]:
def build_string_iqr_0(val_df, iqr_df):

    val_df = val_df.map(lambda x: f'{x:.0f}')
    iqr_df = iqr_df.map(lambda x: f'{x:.0f}')

    return val_df + ' (' + iqr_df + ')'

def build_string_iqr_2(val_df, iqr_df):

    val_df = val_df.map(lambda x: f'{x:.2f}')
    iqr_df = iqr_df.map(lambda x: f'{x:.2f}')

    return val_df + ' (' + iqr_df + ')'


def build_string_2(val_df, to_percentage):

    if to_percentage:
        val_df = val_df * 100

    val_df = val_df.map(lambda x: f'{x:.2f}')

    return val_df

In [67]:
# Putting in total
median_table[('total', 'total')] = build_string_iqr_2(
    median_df[(0.5, 'total', 'total')],
    iqr[('total', 'total')]
)

In [68]:
median_table

                                     ab          dm       other       \
                                 pocket  sum pocket  sum pocket  sum
gender   0                          NaN  NaN    NaN  NaN    NaN  NaN
         1                          NaN  NaN    NaN  NaN    NaN  NaN
fund     Civil servants             NaN  NaN    NaN  NaN    NaN  NaN
         Foreign                    NaN  NaN    NaN  NaN    NaN  NaN
         Iranian + Self-employed    NaN  NaN    NaN  NaN    NaN  NaN
         Others                     NaN  NaN    NaN  NaN    NaN  NaN
         Rural                      NaN  NaN    NaN  NaN    NaN  NaN
         Universal                  NaN  NaN    NaN  NaN    NaN  NaN
age_cat  [18, 39]                   NaN  NaN    NaN  NaN    NaN  NaN
         [40, 64]                   NaN  NaN    NaN  NaN    NaN  NaN
         [65, 95]                   NaN  NaN    NaN  NaN    NaN  NaN
cat      0                          NaN  NaN    NaN  NaN    NaN  NaN
         1                          NaN  NaN    NaN  NaN    NaN  NaN
         2                          NaN  NaN    NaN  NaN    NaN  NaN
         3                          NaN  NaN    NaN  NaN    NaN  NaN
         4                          NaN  NaN    NaN  NaN    NaN  NaN
province 0                          NaN  NaN    NaN  NaN    NaN  NaN
         1                          NaN  NaN    NaN  NaN    NaN  NaN
         2                          NaN  NaN    NaN  NaN    NaN  NaN
         5                          NaN  NaN    NaN  NaN    NaN  NaN
         7                          NaN  NaN    NaN  NaN    NaN  NaN
         8                          NaN  NaN    NaN  NaN    NaN  NaN
         9                          NaN  NaN    NaN  NaN    NaN  NaN
         10                         NaN  NaN    NaN  NaN    NaN  NaN
         11                         NaN  NaN    NaN  NaN    NaN  NaN
         12                         NaN  NaN    NaN  NaN    NaN  NaN
         13                         NaN  NaN    NaN  NaN    NaN  NaN
         14                         NaN  NaN    NaN  NaN    NaN  NaN
         15                         NaN  NaN    NaN  NaN    NaN  NaN
         16                         NaN  NaN    NaN  NaN    NaN  NaN
         17                         NaN  NaN    NaN  NaN    NaN  NaN
         18                         NaN  NaN    NaN  NaN    NaN  NaN
         19                         NaN  NaN    NaN  NaN    NaN  NaN
         21                         NaN  NaN    NaN  NaN    NaN  NaN
         22                         NaN  NaN    NaN  NaN    NaN  NaN
         23                         NaN  NaN    NaN  NaN    NaN  NaN
         26                         NaN  NaN    NaN  NaN    NaN  NaN
         27                         NaN  NaN    NaN  NaN    NaN  NaN
         28                         NaN  NaN    NaN  NaN    NaN  NaN
         29                         NaN  NaN    NaN  NaN    NaN  NaN

                                          total
                                          total
gender   0                        29.21 (56.95)
         1                        30.88 (68.34)
fund     Civil servants           39.80 (69.60)
         Foreign                  11.79 (21.55)
         Iranian + Self-employed  30.20 (60.10)
         Others                   51.94 (85.73)
         Rural                    15.80 (34.14)
         Universal                14.89 (25.60)
age_cat  [18, 39]                 17.58 (31.74)
         [40, 64]                 32.16 (62.43)
         [65, 95]                 47.40 (85.67)
cat      0                        11.28 (29.51)
         1                        18.15 (40.83)
         2                        25.66 (49.49)
         3                        35.73 (59.54)
         4                        65.40 (91.95)
province 0                        29.62 (59.89)
         1                        35.79 (78.06)
         2                        32.67 (66.89)
         5                        28.99 (51.83)
         7                        31.39 (60.47)
         8                        27.72 (59.68)
         9                        28.76 (58.33)
         10                       33.15 (69.29)
         11                       24.09 (42.54)
         12                       23.41 (45.28)
         13                       26.18 (54.47)
         14                       30.67 (60.68)
         15                       26.67 (50.76)
         16                       40.89 (63.89)
         17                       34.95 (55.66)
         18                       27.37 (55.95)
         19                       30.75 (65.41)
         21                       32.50 (74.10)
         22                       18.71 (39.67)
         23                       29.04 (61.09)
         26                       27.01 (54.53)
         27                       32.79 (67.86)
         28                       25.93 (52.03)
         29                       28.05 (54.11)

In [69]:
# # Calculating proportions
# # pocket / sum
# for col2 in ['ab', 'dm', 'other']:
#     median_table.loc[:, (col2, 'pocket')] = build_string_2(
#         median_df.loc[:, (0.5, col2, 'pocket')] / median_df.loc[:, (0.5, col2, 'sum')],
#         to_percentage=True
#     )

# # sum / total
# for col2 in ['ab', 'dm', 'other']:
#     median_table.loc[:, (col2, 'sum')] = build_string_2(
#         median_df.loc[:, (0.5, col2, 'sum')] / median_df.loc[:, (0.5, 'total', 'total')],
#         to_percentage=True
#     )

In [70]:
# Creating pocket and sum columns by median (iqr)
for col2 in ['ab', 'dm', 'other']:
    for col1 in ['pocket', 'sum']:
        median_table.loc[:, (col2, col1)] = build_string_iqr_2(
            median_df[(0.5, col2, col1)],
            iqr[(col2, col1)]
        )

In [71]:
median_table

                                           ab                        dm  \
                                       pocket          sum       pocket
gender   0                        0.64 (1.34)  2.27 (4.50)  0.80 (2.78)
         1                        0.56 (1.34)  2.01 (4.49)  1.08 (3.75)
fund     Civil servants           0.85 (1.50)  2.95 (4.95)  1.22 (4.49)
         Foreign                  0.00 (0.30)  0.13 (1.03)  1.18 (2.05)
         Iranian + Self-employed  0.65 (1.22)  2.29 (4.09)  0.93 (3.25)
         Others                   1.29 (2.43)  4.49 (8.02)  1.05 (3.69)
         Rural                    0.18 (0.62)  0.69 (2.20)  0.66 (1.74)
         Universal                0.38 (0.91)  1.40 (2.99)  0.68 (1.46)
age_cat  [18, 39]                 0.60 (1.25)  2.16 (4.35)  0.49 (0.93)
         [40, 64]                 0.66 (1.44)  2.34 (4.86)  1.13 (3.94)
         [65, 95]                 0.54 (1.18)  1.89 (3.96)  1.53 (5.19)
cat      0                        0.00 (0.00)  0.00 (0.00)  0.80 (2.18)
         1                        0.25 (0.20)  0.83 (0.66)  0.80 (2.72)
         2                        0.65 (0.37)  2.20 (1.15)  0.89 (3.15)
         3                        1.26 (0.64)  4.27 (1.90)  0.96 (3.51)
         4                        2.80 (2.20)  9.55 (6.86)  1.08 (4.10)
province 0                        0.64 (1.36)  2.15 (4.53)  0.93 (2.79)
         1                        0.67 (1.47)  2.23 (4.90)  1.33 (4.87)
         2                        0.80 (2.15)  2.01 (4.53)  1.78 (7.12)
         5                        0.93 (1.81)  3.09 (6.04)  0.76 (2.13)
         7                        0.33 (0.83)  2.31 (4.30)  0.45 (1.63)
         8                        0.53 (1.15)  1.65 (3.47)  1.12 (5.12)
         9                        0.58 (1.23)  1.94 (4.11)  0.96 (3.04)
         10                       0.69 (1.29)  2.29 (4.31)  0.97 (3.90)
         11                       0.86 (1.54)  2.84 (5.12)  0.66 (1.93)
         12                       0.67 (1.22)  2.24 (4.06)  0.80 (2.09)
         13                       0.64 (1.44)  2.13 (4.80)  0.80 (2.54)
         14                       0.72 (1.55)  2.40 (5.15)  0.72 (2.28)
         15                       0.78 (1.68)  2.60 (5.57)  0.66 (1.90)
         16                       1.80 (3.04)  5.92 (9.96)  0.68 (1.99)
         17                       1.28 (2.24)  4.25 (7.46)  0.76 (1.78)
         18                       0.65 (1.35)  2.18 (4.49)  0.86 (2.93)
         19                       0.52 (1.13)  1.73 (3.75)  1.13 (4.50)
         21                       0.57 (1.13)  1.91 (3.76)  1.31 (5.32)
         22                       0.41 (1.11)  1.37 (3.68)  0.80 (2.33)
         23                       0.54 (1.10)  1.80 (3.65)  1.15 (3.56)
         26                       0.57 (1.15)  1.90 (3.82)  1.05 (3.33)
         27                       0.95 (2.21)  3.16 (7.38)  0.81 (2.57)
         28                       0.81 (1.67)  2.69 (5.58)  0.67 (1.98)
         29                       0.67 (1.36)  2.23 (4.52)  0.90 (2.86)

                                                        other                 \
                                           sum         pocket            sum
gender   0                        3.34 (12.82)    4.55 (9.13)  16.29 (32.25)
         1                        4.82 (18.88)    3.97 (9.72)  14.35 (34.52)
fund     Civil servants           5.13 (20.10)   6.31 (10.93)  22.23 (38.10)
         Foreign                  5.31 (13.10)    0.95 (1.73)    3.27 (6.10)
         Iranian + Self-employed  3.96 (16.08)    4.38 (8.42)  15.77 (30.67)
         Others                   4.40 (16.90)   8.92 (15.78)  31.09 (54.17)
         Rural                     2.65 (8.74)    2.04 (4.73)   7.42 (17.34)
         Universal                 2.65 (6.98)    1.84 (3.53)   6.72 (12.92)
age_cat  [18, 39]                  2.01 (4.21)    2.42 (5.19)   8.70 (18.82)
         [40, 64]                 4.84 (18.21)    4.62 (9.08)  16.40 (31.75)
         [65, 95]                 6.67 (24.83)   7.72 (13.65)  27.74 (48.17)
cat      0                        3.11 (10.55)    1.37 (3.75)   4.78 (13.09)
         1                        3.45 (12.80)    2.64 (5.93)   9.35 (20.98)
         2                        3.78 (14.79)    3.97 (7.56)  14.16 (26.79)
         3                        4.11 (16.59)    5.78 (9.47)  20.62 (33.56)
         4                        4.68 (19.83)  10.86 (15.48)  38.49 (54.01)
province 0                        3.62 (12.84)   4.80 (10.17)  16.56 (35.77)
         1                        5.31 (21.24)   5.46 (11.47)  18.83 (40.51)
         2                        5.22 (20.56)   7.05 (15.21)  16.20 (34.12)
         5                         2.65 (9.23)    4.61 (8.68)  16.02 (30.79)
         7                        4.32 (16.05)    2.60 (6.08)  16.46 (33.72)
         8                        3.93 (17.65)    4.48 (9.64)  14.07 (29.45)
         9                        3.89 (13.29)    4.52 (9.34)  15.68 (33.24)
         10                       3.75 (16.98)   5.35 (10.59)  18.46 (37.64)
         11                        2.58 (9.33)    3.73 (6.89)  12.60 (23.87)
         12                       2.87 (10.17)    3.48 (7.09)  12.12 (25.21)
         13                       3.01 (11.20)    3.89 (8.39)  13.36 (29.52)
         14                        2.65 (9.91)   5.32 (10.91)  18.18 (38.10)
         15                        2.52 (8.80)    4.30 (8.46)  14.88 (29.99)
         16                        2.61 (7.70)   7.70 (12.74)  24.53 (41.59)
         17                        2.65 (8.46)   5.89 (10.01)  20.07 (34.74)
         18                       3.75 (14.95)    4.03 (8.23)  13.92 (29.24)
         19                       4.69 (21.21)    4.21 (8.95)  14.52 (31.79)
         21                       5.16 (24.71)    4.63 (9.56)  15.99 (33.74)
         22                       3.06 (11.12)    2.42 (5.45)   8.27 (19.06)
         23                       4.63 (16.48)    4.30 (9.06)  14.80 (32.23)
         26                       4.25 (15.46)    3.81 (8.07)  13.27 (28.34)
         27                       3.30 (12.24)   5.01 (10.44)  17.27 (36.80)
         28                        2.56 (8.55)    4.19 (8.71)  14.32 (30.43)
         29                       3.55 (12.72)    4.40 (8.81)  15.15 (31.23)

                                          total
                                          total
gender   0                        29.21 (56.95)
         1                        30.88 (68.34)
fund     Civil servants           39.80 (69.60)
         Foreign                  11.79 (21.55)
         Iranian + Self-employed  30.20 (60.10)
         Others                   51.94 (85.73)
         Rural                    15.80 (34.14)
         Universal                14.89 (25.60)
age_cat  [18, 39]                 17.58 (31.74)
         [40, 64]                 32.16 (62.43)
         [65, 95]                 47.40 (85.67)
cat      0                        11.28 (29.51)
         1                        18.15 (40.83)
         2                        25.66 (49.49)
         3                        35.73 (59.54)
         4                        65.40 (91.95)
province 0                        29.62 (59.89)
         1                        35.79 (78.06)
         2                        32.67 (66.89)
         5                        28.99 (51.83)
         7                        31.39 (60.47)
         8                        27.72 (59.68)
         9                        28.76 (58.33)
         10                       33.15 (69.29)
         11                       24.09 (42.54)
         12                       23.41 (45.28)
         13                       26.18 (54.47)
         14                       30.67 (60.68)
         15                       26.67 (50.76)
         16                       40.89 (63.89)
         17                       34.95 (55.66)
         18                       27.37 (55.95)
         19                       30.75 (65.41)
         21                       32.50 (74.10)
         22                       18.71 (39.67)
         23                       29.04 (61.09)
         26                       27.01 (54.53)
         27                       32.79 (67.86)
         28                       25.93 (52.03)
         29                       28.05 (54.11)

### Decoding province names

In [72]:
# province_id
province_id = pd.read_excel('../../diabeteschronicabuserprojectihio/Test_sample/Test/province_id.xlsx')
province_mapper = province_id.set_index('province_id_iso')['province_name_en']

In [73]:
def rename_second_level(df, specific_level_0, mapper):

    # Reseting index 0 and 1
    df = df.reset_index([0, 1])

    # return mapper[df.loc[df['level_0'] == specific_level_0, 'level_1']].values

    df.loc[df['level_0'] == specific_level_0, 'level_1'] =\
        mapper[df.loc[df['level_0'] == specific_level_0, 'level_1']].values



    return df.set_index(['level_0', 'level_1'])

In [74]:
median_table = rename_second_level(median_table, 'province', province_mapper)

In [75]:
median_table

                                              ab                        dm  \
                                          pocket          sum       pocket
level_0  level_1
gender   0                           0.64 (1.34)  2.27 (4.50)  0.80 (2.78)
         1                           0.56 (1.34)  2.01 (4.49)  1.08 (3.75)
fund     Civil servants              0.85 (1.50)  2.95 (4.95)  1.22 (4.49)
         Foreign                     0.00 (0.30)  0.13 (1.03)  1.18 (2.05)
         Iranian + Self-employed     0.65 (1.22)  2.29 (4.09)  0.93 (3.25)
         Others                      1.29 (2.43)  4.49 (8.02)  1.05 (3.69)
         Rural                       0.18 (0.62)  0.69 (2.20)  0.66 (1.74)
         Universal                   0.38 (0.91)  1.40 (2.99)  0.68 (1.46)
age_cat  [18, 39]                    0.60 (1.25)  2.16 (4.35)  0.49 (0.93)
         [40, 64]                    0.66 (1.44)  2.34 (4.86)  1.13 (3.94)
         [65, 95]                    0.54 (1.18)  1.89 (3.96)  1.53 (5.19)
cat      0                           0.00 (0.00)  0.00 (0.00)  0.80 (2.18)
         1                           0.25 (0.20)  0.83 (0.66)  0.80 (2.72)
         2                           0.65 (0.37)  2.20 (1.15)  0.89 (3.15)
         3                           1.26 (0.64)  4.27 (1.90)  0.96 (3.51)
         4                           2.80 (2.20)  9.55 (6.86)  1.08 (4.10)
province Markazi                     0.64 (1.36)  2.15 (4.53)  0.93 (2.79)
         Gilan                       0.67 (1.47)  2.23 (4.90)  1.33 (4.87)
         Mazandaran                  0.80 (2.15)  2.01 (4.53)  1.78 (7.12)
         Kermanshah                  0.93 (1.81)  3.09 (6.04)  0.76 (2.13)
         Fars                        0.33 (0.83)  2.31 (4.30)  0.45 (1.63)
         Kerman                      0.53 (1.15)  1.65 (3.47)  1.12 (5.12)
         Khorasan, Razavi            0.58 (1.23)  1.94 (4.11)  0.96 (3.04)
         Isfahan                     0.69 (1.29)  2.29 (4.31)  0.97 (3.90)
         Sistan and Baluchestan      0.86 (1.54)  2.84 (5.12)  0.66 (1.93)
         Kurdistan                   0.67 (1.22)  2.24 (4.06)  0.80 (2.09)
         Hamadan                     0.64 (1.44)  2.13 (4.80)  0.80 (2.54)
         Chaharmahal and Bakhtiari   0.72 (1.55)  2.40 (5.15)  0.72 (2.28)
         Lorestan                    0.78 (1.68)  2.60 (5.57)  0.66 (1.90)
         Ilam                        1.80 (3.04)  5.92 (9.96)  0.68 (1.99)
         Kohgiluyeh and Boyer-Ahmad  1.28 (2.24)  4.25 (7.46)  0.76 (1.78)
         Bushehr                     0.65 (1.35)  2.18 (4.49)  0.86 (2.93)
         Zanjan                      0.52 (1.13)  1.73 (3.75)  1.13 (4.50)
         Yazd                        0.57 (1.13)  1.91 (3.76)  1.31 (5.32)
         Hormozgan                   0.41 (1.11)  1.37 (3.68)  0.80 (2.33)
         Tehran                      0.54 (1.10)  1.80 (3.65)  1.15 (3.56)
         Qazvin                      0.57 (1.15)  1.90 (3.82)  1.05 (3.33)
         Golestan                    0.95 (2.21)  3.16 (7.38)  0.81 (2.57)
         Khorasan, North             0.81 (1.67)  2.69 (5.58)  0.67 (1.98)
         Khorasan, South             0.67 (1.36)  2.23 (4.52)  0.90 (2.86)

                                                           other  \
                                              sum         pocket
level_0  level_1
gender   0                           3.34 (12.82)    4.55 (9.13)
         1                           4.82 (18.88)    3.97 (9.72)
fund     Civil servants              5.13 (20.10)   6.31 (10.93)
         Foreign                     5.31 (13.10)    0.95 (1.73)
         Iranian + Self-employed     3.96 (16.08)    4.38 (8.42)
         Others                      4.40 (16.90)   8.92 (15.78)
         Rural                        2.65 (8.74)    2.04 (4.73)
         Universal                    2.65 (6.98)    1.84 (3.53)
age_cat  [18, 39]                     2.01 (4.21)    2.42 (5.19)
         [40, 64]                    4.84 (18.21)    4.62 (9.08)
         [65, 95]                    6.67 (24.83)   7.72 (13.65)
cat      0                           3.11 (10.55)    1.37 (3.75)
         1                           3.45 (12.80)    2.64 (5.93)
         2                           3.78 (14.79)    3.97 (7.56)
         3                           4.11 (16.59)    5.78 (9.47)
         4                           4.68 (19.83)  10.86 (15.48)
province Markazi                     3.62 (12.84)   4.80 (10.17)
         Gilan                       5.31 (21.24)   5.46 (11.47)
         Mazandaran                  5.22 (20.56)   7.05 (15.21)
         Kermanshah                   2.65 (9.23)    4.61 (8.68)
         Fars                        4.32 (16.05)    2.60 (6.08)
         Kerman                      3.93 (17.65)    4.48 (9.64)
         Khorasan, Razavi            3.89 (13.29)    4.52 (9.34)
         Isfahan                     3.75 (16.98)   5.35 (10.59)
         Sistan and Baluchestan       2.58 (9.33)    3.73 (6.89)
         Kurdistan                   2.87 (10.17)    3.48 (7.09)
         Hamadan                     3.01 (11.20)    3.89 (8.39)
         Chaharmahal and Bakhtiari    2.65 (9.91)   5.32 (10.91)
         Lorestan                     2.52 (8.80)    4.30 (8.46)
         Ilam                         2.61 (7.70)   7.70 (12.74)
         Kohgiluyeh and Boyer-Ahmad   2.65 (8.46)   5.89 (10.01)
         Bushehr                     3.75 (14.95)    4.03 (8.23)
         Zanjan                      4.69 (21.21)    4.21 (8.95)
         Yazd                        5.16 (24.71)    4.63 (9.56)
         Hormozgan                   3.06 (11.12)    2.42 (5.45)
         Tehran                      4.63 (16.48)    4.30 (9.06)
         Qazvin                      4.25 (15.46)    3.81 (8.07)
         Golestan                    3.30 (12.24)   5.01 (10.44)
         Khorasan, North              2.56 (8.55)    4.19 (8.71)
         Khorasan, South             3.55 (12.72)    4.40 (8.81)

                                                            total
                                               sum          total
level_0  level_1
gender   0                           16.29 (32.25)  29.21 (56.95)
         1                           14.35 (34.52)  30.88 (68.34)
fund     Civil servants              22.23 (38.10)  39.80 (69.60)
         Foreign                       3.27 (6.10)  11.79 (21.55)
         Iranian + Self-employed     15.77 (30.67)  30.20 (60.10)
         Others                      31.09 (54.17)  51.94 (85.73)
         Rural                        7.42 (17.34)  15.80 (34.14)
         Universal                    6.72 (12.92)  14.89 (25.60)
age_cat  [18, 39]                     8.70 (18.82)  17.58 (31.74)
         [40, 64]                    16.40 (31.75)  32.16 (62.43)
         [65, 95]                    27.74 (48.17)  47.40 (85.67)
cat      0                            4.78 (13.09)  11.28 (29.51)
         1                            9.35 (20.98)  18.15 (40.83)
         2                           14.16 (26.79)  25.66 (49.49)
         3                           20.62 (33.56)  35.73 (59.54)
         4                           38.49 (54.01)  65.40 (91.95)
province Markazi                     16.56 (35.77)  29.62 (59.89)
         Gilan                       18.83 (40.51)  35.79 (78.06)
         Mazandaran                  16.20 (34.12)  32.67 (66.89)
         Kermanshah                  16.02 (30.79)  28.99 (51.83)
         Fars                        16.46 (33.72)  31.39 (60.47)
         Kerman                      14.07 (29.45)  27.72 (59.68)
         Khorasan, Razavi            15.68 (33.24)  28.76 (58.33)
         Isfahan                     18.46 (37.64)  33.15 (69.29)
         Sistan and Baluchestan      12.60 (23.87)  24.09 (42.54)
         Kurdistan                   12.12 (25.21)  23.41 (45.28)
         Hamadan                     13.36 (29.52)  26.18 (54.47)
         Chaharmahal and Bakhtiari   18.18 (38.10)  30.67 (60.68)
         Lorestan                    14.88 (29.99)  26.67 (50.76)
         Ilam                        24.53 (41.59)  40.89 (63.89)
         Kohgiluyeh and Boyer-Ahmad  20.07 (34.74)  34.95 (55.66)
         Bushehr                     13.92 (29.24)  27.37 (55.95)
         Zanjan                      14.52 (31.79)  30.75 (65.41)
         Yazd                        15.99 (33.74)  32.50 (74.10)
         Hormozgan                    8.27 (19.06)  18.71 (39.67)
         Tehran                      14.80 (32.23)  29.04 (61.09)
         Qazvin                      13.27 (28.34)  27.01 (54.53)
         Golestan                    17.27 (36.80)  32.79 (67.86)
         Khorasan, North             14.32 (30.43)  25.93 (52.03)
         Khorasan, South             15.15 (31.23)  28.05 (54.11)

### Saving

In [76]:
# Saving costs_table_median_iqr_edited
# median_table.to_excel('../costs_table_median_iqr_edited.xlsx')

# Saving costs_table_median_iqr_edited_DOLLARS
# median_table.to_excel('../costs_table_median_iqr_edited_DOLLARS_NoPerc_f.xlsx')