In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import os
from statsmodels.stats.proportion import proportion_confint
from itertools import product

## Importing Data and Building Data

In [2]:
parts_path = Path(r'E:\after_session_03_22\data\part_data')
os.listdir(parts_path)

['part1_dm_combined_18_95_J01.pkl',
 'part2_dm_combined_18_95_J01.pkl',
 'part3_dm_combined_18_95_J01.pkl',
 'part4_dm_combined_18_95_J01.pkl',
 'part5_dm_combined_18_95_J01.pkl',
 'part6_dm_combined_18_95_J01.pkl',
 'part7_dm_combined_18_95_J01.pkl',
 'part8_dm_combined_18_95_J01.pkl']

## Building Empty Table

In [48]:
cols = ['all', 0, 1, 2, 3, 4]
table = pd.DataFrame(
    index=['ab', 'dm', 'total'],
    columns=cols,
)
table.fillna(0, inplace=True)
table

       all  0  1  2  3  4
ab       0  0  0  0  0  0
dm       0  0  0  0  0  0
total    0  0  0  0  0  0

In [49]:
table.loc['ab', 2]

0

## Putting in the Values

In [50]:
for part_loc in os.listdir(parts_path):
    # Logging
    print('Processing:  ', part_loc)

    # Importing part
    part_loc = parts_path / part_loc
    part = pd.read_pickle(part_loc)

    # Filiing values
    categories = part['cat'].unique()
    for cat in categories:
        for drug in ['ab', 'dm', 'total']:
            cat_filt = part['cat'] == cat
            
            if drug == 'total':
                table.loc[drug, cat] = (table.loc[drug, cat]
                                        + part.loc[cat_filt].shape[0]
                                    )
                continue

            table.loc[drug, cat] = (table.loc[drug, cat]
                                    + part.loc[cat_filt].groupby('prescription')[drug].any().sum()
                                )

Processing:   part1_dm_combined_18_95_J01.pkl
Processing:   part2_dm_combined_18_95_J01.pkl
Processing:   part3_dm_combined_18_95_J01.pkl
Processing:   part4_dm_combined_18_95_J01.pkl
Processing:   part5_dm_combined_18_95_J01.pkl
Processing:   part6_dm_combined_18_95_J01.pkl
Processing:   part7_dm_combined_18_95_J01.pkl
Processing:   part8_dm_combined_18_95_J01.pkl

In [51]:
table

       all        0         1         2         3         4
ab       0     2764    502401   1046963   1721120   4182168
dm       0   934428   1421837   1639246   1707564   2080256
total    0  6426526  12704037  17543904  22255883  40929474

In [53]:
# Computing all column.
table['all'] = table.sum(axis=1)

In [54]:
table

            all        0         1         2         3         4
ab      7455416     2764    502401   1046963   1721120   4182168
dm      7783331   934428   1421837   1639246   1707564   2080256
total  99859824  6426526  12704037  17543904  22255883  40929474

## Saving

In [55]:
# Saving prescription_table_numbers
# It contains the number of prescriptions that have at least on ab or one dm drug in them by ab_groups.
# table.to_csv(r'E:\after_session_03_22\results\prescription_table_numbers.csv')

## Sandbox

In [ ]:
part

In [ ]:
part.groupby('prescription')['dm'].any()

In [ ]:
part.groupby('prescription')['ab'].any()